body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

/* input area */
.input-container {
    background: white;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
}

textarea, input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}


/* PRINT LAYOUT (Prescription Paper) */

.prescription {
    width: 210mm;
    min-height: 297mm;
    background: white;
    padding: 15mm 20mm;
    margin: 20px auto;
    box-shadow: 0 0 5px #aaa;
    position: relative;
}

.top-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
}

.section-title {
    font-weight: bold;
    margin-top: 10px;
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 20px;
}

/* signature box */
.signature {
    border-top: 1px solid #000;
    width: 180px;
    margin-left: auto;
    margin-top: 40px;
    padding-top: 5px;
    text-align: center;
}

/* footer */
.footer {
    position: absolute;
    bottom: 10mm;
    text-align: center;
    width: 100%;
    font-size: 12px;
    opacity: 0.7;
}

/* PRINT MODE */
@media print {
    body {
        background: white;
    }
    .input-container {
        display: none;
    }
    #output {
        margin: 0;
    }
    .prescription {
        box-shadow: none;
        margin: 0;
        width: 100%;
        min-height: auto;
        padding: 0;
    }
}
